/*------------------------------------ pixels/16=em --*/



/*------------------------------------ logo & branding --*/
body {
	background-image: url("../Images/Woodgrain.jpg");
	font-size: 100%;
	max-width: 60em;
	background-color: rgba (255, 250, 240, .5);
	margin: 0 auto; 
	padding: 0px 20px 20px 20px;
}

#logo_excape_hatch {
	font-family: 'Holtwood One SC', serif;
	font-size: 1.875em;
	color: #8B814C;
	text-shadow: 1px 2px 4px #111;
	text-align: left;
	text-indent: 99,999px;
	margin: 5px auto 0px 0px;
	float: left;
}

a {
	text-decoration: none;
}	

a:link{
	color: #006400;
}

a:visited{
	color: #8B8B00;
}

a:hover{
	color: #CDCD00;
}

a:active{
	color: #A2CD5A;
}

p {
 float: left;
}



#hours {
	font-family: 'Alice', serif; 
	font-size: .562em;
	color: #666;
	text-align: right;
	margin: 3px 0px 6px 0px; 
	overflow: hidden;
	float: right;
	
}


#lumber img {
	max-width: 99.583333%;
	display: block;
	outline: solid 2px #8B814C;
	clear: both;
	}


/*----------------------------------- main navigation --*/
nav {
	 width: 100%;
	float: right;
	
	
}
#main_nav {
	width: 100%;/*960px*/
	margin-top: 0;
	margin-bottom: 6.25%;
	margin-left: auto;
	margin-right: auto;
	float: right;
	padding-right: 0;
	padding-bottom: 5px;
	overflow: hidden;
}



.nav_link {
	font-family: 'Alice', serif;
	font-size: .8em;
	font-weight: bold;
	max-width: 100%;
	border: solid 1.2px #EEEED1;
	background-color: #FFFFE0;
	display: inline;
	text-align: center;
	margin-right: 3px;
	padding: 1px .8% 2px .8%;
	float: right;
	-webkit-border-bottom-right-radius: 11% /*5px*/;
	-webkit-border-bottom-left-radius: 11% /*5px*/;
	-moz-border-radius-bottomright: 11% /*5px*/;
	-moz-border-radius-bottomleft: 11% /*5px*/;
	border-bottom-right-radius: 11% /*5px*/;
	border-bottom-left-radius: 11% /*5px*/;
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.c2t {
	font-family: 'Alice', serif;
	font-size: .89em;
	font-weight: bold;
	border: solid 1.2px #CD950C;
	max-width= 100%;
	background-color: #EEAD0E;
	padding: 1px .8% 3px .8%;
	margin-right: 5px;
	display: inline;
	text-align: center;
	float: right;
	-webkit-border-bottom-right-radius: 9% /*5px*/;
	-webkit-border-bottom-left-radius: 9% /*5px*/;
	-moz-border-radius-bottomright: 9% /*5px*/;
	-moz-border-radius-bottomleft: 9% /*5px*/;
	border-bottom-right-radius: 9% /*5px*/;
	border-bottom-left-radius: 9% /*5px*/;
	-moz-box-shadow: 1px 3px 8px #888;
	-webkit-box-shadow: 1px 3px 8px #888;
	box-shadow: 1px 3px 8px #888;
}	

a:link{
	color: #006400;
	display: block;
}

a:visited{
	color: #8B8B00;
	display: block;
}

a:hover{
	color: #EEEE00;
	display: block;
}

a:active{
	color: #A2CD5A;
	display: block;
}

/*--------------------------------- About page -*/


#about {
	font-family: 'Arizonia', cursive; arial, sans-serif;
	color: #006400;
	font-size: 1.593em;
	text-align: center;
	max-width: 100%
	padding: 0;
	margin: 0;
	clear: both;
}

/*--------------------------------- Content page -*/
#content {
	font-family: 'Arizonia', cursive; arial, sans-serif;
	color: #006400;
	font-size: 1.593em;
	text-align: center;
	max-width: 100%
	padding: 0;
	margin: 0;
	clear: both;
}
	



/*----------------------------------- company description  --*/
section {
	padding-bottom: 52px;
	
}

	
#welcome {
	font-family: 'Arizonia', cursive; arial, sans-serif;
	color: #006400;
	font-size: 1.593em;
	text-align: center;
	max-width: 100%
	padding: 0;
	margin: 0;
	clear: both;
}	

#mobile {
	font-family: 'Arizonia', cursive; arial, sans-serif;
	color: #006400;
	font-size: .975em;
	text-align: center;
	max-width: 100%
	padding: 0;
	margin: 0;
	clear: both;
}	


#company_discription {
	width: 94.556962%; /*747*/
}
	
#company_discription p {
	font-family: 'Alice', serif;
	color: #636363;
	font-size: 1em;
	max-width: 100%;
	float: none;
	margin-left: 37px;
	text-align: justify;
	-moz-column-count: 3;
	-moz-column-width: 15em;
	-moz-column-gap: 2em;
	-webkit-column-count: 3;
	-webkit-column-width: 15em;
	-webkit-column-gap: 2em;
	
}		

.gallery_link {
	text-decoration: none;
}	

.gallery_link:link{
	color: #006400;
	display: inline;
}

.gallery_link:visited{
	color: #8B8B00;
	display: inline;
}

.gallery_link:hover{
	color: #EEEE00;
	display: inline;
}

.gallery_link:active{
	color: #A2CD5A;
	display: inline;
}

/*--------------------------------- gallery page --*/

article {
	width: 100%;
}
#gallery_photos {
	max-width: 82.291667%; /*650px*/
	float: right;
	padding: 0px 7.6923077% /*50px*/ 0px  10.6923077%; /*50px*/
}

#gallery_photos img {
	max-width: 100%;
}

.heading {
	font-family: 'Arizonia', cursive; arial, sans-serif;
	color: #006400;
	font-size: 1.593em;
	text-align: center;
	max-width: 100%
	clear: both;
	margin: 0;
	padding: 0;
	clear: both;
	float: none
}

#mobile_gallery {
	font-family: 'Arizonia', cursive; arial, sans-serif;
	color: #006400;
	font-size: .975em;
	text-align: left;
	max-width: 100%
	padding: 0;
	margin: 0;
	clear: both;
}

#slogan {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.3em;
	max-width: 100% /*960*/
	clear: both;
	text-align: center;
}


.pic1 {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.75em;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 26.582278%; /*234px*/
	margin-right: 7%;
	padding: 12px 0.7142857% /*12px*/ 5px 0.7142857% /*12px*/;
	border: .5px 0.21367521% /*.5px*/ .5px 0.21367521% /*.5px*/ #888;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}


.pic2 {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.75em;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 26.582278%; /*234px*/
	margin-right: 7%;
	padding: 12px 0.7142857% /*12px*/ 5px 0.7142857% /*12px*/;
	border: .5px 0.21367521% /*.5px*/ .5px 0.21367521% /*.5px*/ #888;
 	-webkit-transform: rotate(.5deg);
	-moz-transform: rotate(.5deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}


.pic3 {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.75em;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 26.582278%; /*234px*/
	margin-right: 7%;
	padding: 12px 0.7142857% /*12px*/ 5px 0.7142857% /*12px*/;
	border: .5px 0.21367521% /*.5px*/ .5px 0.21367521% /*.5px*/ #888;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.pic4 {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.75em;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 26.582278%; /*234px*/
	margin-right: 7%;
	padding: 12px 0.7142857% /*12px*/ 5px 0.7142857% /*12px*/;
	border: .5px 0.21367521% /*.5px*/ .5px 0.21367521% /*.5px*/ #888;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.pic5 {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.75em;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 26.582278%; /*234px*/
	margin-right: 7%;
	padding: 12px 0.7142857% /*12px*/ 5px 0.7142857% /*12px*/;
	border: .5px 0.21367521% /*.5px*/ .5px 0.21367521% /*.5px*/ #888;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
	margin-bottom: 75px;
}


ul p {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.666em;
	float: right;
	width: 42.895833% /*287px*/;
	text-align: left;
	padding-top: 50px;
	/*padding-right: 02.8125%; /*27px*/
	margin-left: 10%;
	margin-right: 5%;
}


/*----------------------------------- appointment form --*/


#form {
	text-align: center;
	clear: both;
}


#place_holder {
	margin: 100%  /*790px*/;      /*-- temporary --*/
}


#copyright {
	font-family: 'Alice', serif;
	font-size: .80em;
	color: #C2C2C2;
	text-align: center;
	width: 100%; /*790px*/
	clear: both;
	margin-top: 0;
	padding-top: 10px;
	border-top: solid 1px #C2C2C2;
}



	
	/*Media Queries

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

	/* tablet portrait size to standard 10000 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 10000px) {
		
		#logo_excape_hatch {font-size: 1.6em;margin-top: 10px;}
		
		#mobile {display:none;}
		
		#mobile_gallery {display: none;}
		
		ul p {padding-top: 40px}
		
	}
	
	/* mobile landscape size to tablet portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		#logo_excape_hatch {font-size: 1.6em; margin-top: 3px; padding-top: 0;}
		
		#mobile {display:none;}
		
		#hours { font-size: .42em; clear: both; float: left;}
		
		#hours br {display: none;}
		
		#mobile_gallery {display: none;}
		
		.nav_link {font-size: .6875em;}
		
		.c2t {font-size: .6875em;}
		
		#welcome {font-size: 1.25em}
		
		#company_discription p {font-size: .725em}
		
		#about {font-size: 1.25em}
		
		#content {font-size: 1.25em}
		
		#copyright {font-size: 0.525em;}
		
		.pic1, .pic2, .pic3, .pic4, .pic5 { font-size: 1.3em; width: 30%;}
		
		ul p {font-size: 1.2em; padding-top: 30px; margin-right: 3%; }
		
		#slogan {font-size: 1.025em; }
		
		 
	}
	
	/* mobile portrait size to mobile landscape (devices and browsers) */
	@media only screen and (max-width: 479px) {

		#logo_excape_hatch {font-size: 1.325em; width: 49.060543%; margin-top: 0px; margin-right: 5%; padding-top: 0; padding-bottom: 10px; float: left;}
		
		#hours {font-size: .305em; float: right; padding-top: 2px; margin-left: 2%; overflow; inherit;}
		
		#welcome {display: none;}
		
		#mobile {text-align: center;}
		
		.heading {display: none;}
		
		#mobile_gallery {text-align:center; clear: both;}
		
		#lumber {display: none;}
		
		nav {border-top: solid 2px #8B814C;}
		
		.nav_link {font-size: 0.424898367265em; font-weight: none; }
		
		.c2t {font-size: 0.424898367265em; font-weight: none; }
		
		#company_discription p {font-size: .625em; text-align: center; margin-left: 0; padding-left: 0;}
		
		#copyright {font-size: 0.525em;}
		
		#gallery_photos li {width: 35%;}
		
		.pic1, .pic2, .pic3, .pic4, .pic5 { font-size: .975em; margin-right: 0;}
		
		.container {padding-left: 0;}
		
		#about {font-size: .975em}
		
		#content {font-size: .975em}
		
		ul p {font-size: .725em; padding-top: 40px; margin-left: 0; text-align:left;}
		
		#slogan {display: none; }
		
		
	}
	
