/*------------------------------------ pixels/16=em --*/



/*------------------------------------ logo & branding --*/
body {
	background-image: url("../Images/Woodgrain.jpg");
	width: 790px
	background-color: rgba (255, 250, 240, .5);
}

ul {
	float: left;
}



#logo_excape_hatch {
	font-family: 'Holtwood One SC', serif;
	font-size: 1.875em; 
	color: #8B814C;
	text-shadow: 1px 2px 4px #111;
	width: auto;
	text-align: right;
	text-indent: 99,999px;
	margin: 5px auto 0px 0px;
	float: left;
}

a {
	text-decoration: none;
}	

a:link{
	color: #006400;
}

a:visited{
	color: #8B8B00;
}

a:hover{
	color: #CDCD00;
}

a:active{
	color: #A2CD5A;
}

p {
 float: left;
}



#hours {
	font-family: 'Alice', serif; 
	font-size: .562em;
	color: #666;
	text-align: right;
	margin: 3px 0px 6px 0px; 
}


header {
	margin: 0;
	padding: 0;
}


#lumber img {
	margin: 0;
	padding: 0;
}


/*----------------------------------- main navigation --*/

#main_nav {

	margin-top: 0;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	float: right;
}



.nav_link {
	font-family: 'Alice', serif;
	border: solid 1.2px #EEEED1;
	background-color: #FFFFE0;
	display: inline;
	text-align: center;
	margin-right: 3px;
	width: 75px;
	float: right;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.c2t {
	font-family: 'Alice', serif;
	border: solid 1.2px #CD950C;
	background-color: #EEAD0E;
	padding-bottom: 5px;
	margin-right: 5px;
	display: inline;
	text-align: center;
	width: 110px;
	float: right;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}	

a:link{
	color: #006400;
	display: block;
}

a:visited{
	color: #8B8B00;
	display: block;
}

a:hover{
	color: #EEEE00;
	display: block;
}

a:active{
	color: #A2CD5A;
	display: block;
}








/*----------------------------------- company description  --*/
section {
width: 790px;
padding-bottom: 52px;
	
}

	
h2 {
	font-family: 'Arizonia', cursive; arial, sans-serif;
	color: #006400;
	text-align: center;
	width: 790px;
	padding: 0;
	margin: 0;
	clear: both;
}	
	
#company_discription p {
	font-family: 'Alice', serif;
	color: #636363;
	font-size: 16px;
	text-indent: 10px;
	width: 700px;
	float: none;
	margin-left: 47px;
	
}		

.gallery_link {
	text-decoration: none;
}	

.gallery_link:link{
	color: #006400;
	display: inline;
}

.gallery_link:visited{
	color: #8B8B00;
	display: inline;
}

.gallery_link:hover{
	color: #EEEE00;
	display: inline;
}

.gallery_link:active{
	color: #A2CD5A;
	display: inline;
}

/*--------------------------------- gallery page --*/


#gallery_photos {
	margin: 0;
	width: 650px;
	float: right;
	padding: 0px 50px 0px 50px
}

article h2 {
	margin: 0;
	padding: 0;
	width: 790px;
	clear: both;
	float: none
	text-align: center;
}

#slogan {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.3em;
	clear: both;
	padding: 16px 0px 0px 90px
	
}

.pic1 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.pic2 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
 	-webkit-transform: rotate(.5deg);
	-moz-transform: rotate(.5deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}


.pic3 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.pic4 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.pic5 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
	margin-bottom: 75px;
}


ul p {
	font-family: 'Just Another Hand', cursive;
	font-size: 1.666em;
	float: right;
	width: 250px;
	text-align: left;
	padding-top: 50px;
	padding-right: 27px;
}


/*----------------------------------- appointment form --*/


#form {
	text-align: center;
}


#place_holder {
	margin: 790px;      /*-- temporary --*/
}


#copyright {
	font-family: 'Alice', serif;
	font-size: .80em;
	color: #C2C2C2;
	text-align: center;
	width: 790px;
	clear: both;
	margin-top: 0;
	padding-top: 10px;
	border-top: solid 1px;
	border-color:#C2C2C2;
}
