/*------------------------------------ pixels/16=em --*/



/*------------------------------------ logo & branding --*/






#logo_excape_hatch {
	font-family: 'Holtwood One SC', serif;
	font-size: 1.875em; 
	color: #8B814C;
	text-shadow: 1px 2px 4px #111;
	text-align: right;
	margin: 0px 25px 10px 0px;
	padding: 0px 0px 10px 0px;
	float: left;
}

a {
	text-decoration: none;
}	

a:link{
	color: #006400;
}

a:visited{
	color: #8B8B00;
}

a:hover{
	color: #EEEE00;
}

a:active{
	color: #A2CD5A;
}





#hours {
	font-family: 'Alice', serif; 
	font-size: .562em;
	color: #666;
	text-align: right; 
}


/*----------------------------------- main navigation --*/

.nav_link, .c2t {
	border: solid #999;
	background-color: white;
	display: block;
	text-align: center;
	width: 120px;
	float: left
	
}		

a:link{
	color: #006400;
}

a:visited{
	color: #8B8B00;
}

a:hover{
	color: #EEEE00;
}

a:active{
	color: #A2CD5A;
}


article {
	
}







/*----------------------------------- company description  --*/


	
h2 {
	 
	font-family: 'Arizonia', cursive; arial, sans-serif;
	color: #006400;
	
}		
		
	
		
#company_discription {
	font-family: 'Alice', serif;
	font-size: 16px;
	background-color: silver;
	width: 500px;
	
}		





.gallery_link {
	text-decoration: none;
}	

.gallery_link:link{
	color: #006400;
}

.gallery_link:visited{
	color: #8B8B00;
}

.gallery_link:hover{
	color: #EEEE00;
}

.gallery_link:active{
	color: #A2CD5A;
}

/*--------------------------------- gallery page --*/

section {
	width: 600px;
	float: right;
}

#gallery {
	width: 790;
}




#gallery_photos {
	margin: none;
}

ul p {
	float: right;
	width: 200px;
}

ul li {
	
}

ul li div {
	margin: 0;
}

.pic1 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.pic2 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
 	-webkit-transform: rotate(.5deg);
	-moz-transform: rotate(.5deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}


.pic3 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.pic4 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
}

.pic5 {
	font-family: 'Just Another Hand', cursive;
	font-size: 28px;
	text-align: center;
	background-color: #fff;
	list-style-type: none;
	width: 210px;
	padding: 12px 12px 5px 12px;
	border: .5px .5px .5px .5px #888;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-moz-box-shadow: 1px 3px 5px #888;
	-webkit-box-shadow: 1px 3px 5px #888;
	box-shadow: 1px 3px 5px #888;
	margin-bottom: 75px
}


/*----------------------------------- appointment form --*/


#form {
	text-align: center
}


#place_holder {
	margin: 790px      /*-- temporary --*/
}


#copyright {
	clear: both;
	padding: 10px
	border-top: 1px;
}
